.vscode/
envs
.conda
*.pyc
data/**
!data/**/*.txt
# Allow subdirectories themselves to be tracked (important for ! rules to work)
!data/**/ 
*.png
*.jld2
stdout/*
*.CondaPkg
Manifest.toml
*.pdf
!figures/**/*.pdf
julia/results/**/*.txt
python/figures/**/*.txt
*.egg-info
*.pkl
*.env*
*.parquet
google-cloud-sdk/*
reports/*
*.nc
*.tif
*.npy
*.pth
*.csv
*.zip

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

